<div class="sound-grid-row">
  {{#each firstRow as |sound|}}
    {{sound-button
      name=sound
    }}
  {{/each}}
</div>

<div class="sound-grid-row">
  {{#each secondRow as |sound|}}
    {{sound-button
      name=sound
    }}
  {{/each}}
</div>

<div class="sound-grid-row">
  {{#each thirdRow as |sound|}}
    {{sound-button
      name=sound
    }}
  {{/each}}
</div>

<div class="sound-grid-row">
  {{#each fourthRow as |sound|}}
    {{sound-button
      name=sound
    }}
  {{/each}}
</div>
