input, select {
  cursor: pointer;
}

/**
 * -----------------------------------------------------------------------------
 * Page Title
 * -----------------------------------------------------------------------------
 */
.title {
  text-align: center;
  margin-top: 15px;
}
.title-letters {
  display: inline-block;
  position: relative;
  top: 5px;
  font-family: 'Chango', cursive;
  font-size: 84px;
  color: black;
}
.title > img {
  height: 92px;
  position: relative;
  top: -21px;
}

/**
 * -----------------------------------------------------------------------------
 * Page Toolbar
 * -----------------------------------------------------------------------------
 */
.toolbar {
  text-align: center;
}
a {
  color: #00c0f3;
}
p.toolbar-link {
  display: inline;
  font-size: 24px;
  padding: 0 40px;
}

/**
 * -----------------------------------------------------------------------------
 * Sound Board
 * -----------------------------------------------------------------------------
 */
.sound-grid-row {
  display: block;
  clear: both;
}
.sound-grid {
  margin: 30px auto;
  width: 560px;
}

/**
 * -----------------------------------------------------------------------------
 * Sound Board: Sound Button
 * -----------------------------------------------------------------------------
 */
.beat-toggle.sound-button {
  width: 130px;
  height: 130px;
  display: inline-block;
  float: left;
  margin: 5px;
  transition: background-color 0.1s ease;
}

.beat-toggle.sound-button:active {
  background-color: #00c0f3;
}

/**
 * -----------------------------------------------------------------------------
 * Beats Board: Table
 * -----------------------------------------------------------------------------
 */
table {
  border-collapse: collapse;
  margin: 0 auto;
}

/**
 * -----------------------------------------------------------------------------
 * Beats Board: Row
 * -----------------------------------------------------------------------------
 */
.beat-player-row > td {
  padding: 5px;
  height: 10px;
}
.beat-label {
  text-align: center;
  line-height: 0px;
  pointer-events: none;
}
tr td.beat-label:nth-child(4n+2),td.beat-label:nth-child(2) {
  font-size: 100px;
  position: relative;
  top: 28px;
}
tr td.beat-label:nth-child(4n+3),td.beat-label:nth-child(3) {
  font-size: 75px;
  position: relative;
  top: 30px;
}
tr td.beat-label:nth-child(4n) {
  font-size: 50px;
  position: relative;
  top: 31px;
}
tr td.beat-label:nth-child(4n+1) {
  font-size: 25px;
  position: relative;
  top: 32px;
}
tr.settings-row > td {
  padding-bottom: 20px;
}

/**
 * -----------------------------------------------------------------------------
 * Beats Board: Beat Button
 * -----------------------------------------------------------------------------
 */
.beat-toggle {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #e6e6e6;
  box-shadow: inset 1.5px 1.5px 1.5px rgba(230, 230, 230, .4),
              inset -1.5px -1.5px 1.5px rgba(25, 25, 25, .4);
  transition: box-shadow 0.15s ease;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.beat-toggle:active {
  box-shadow: inset 1.5px 1.5px 1.5px rgba(25, 25, 25, .4),
              inset -1.5px -1.5px 1.5px rgba(230, 230, 230, .4);
}
.beat-toggle.selected {
  background-color: #00c0f3;
}
.beat-toggle.selected:active {
  box-shadow: inset 1.5px 1.5px 1.5px rgb(0,161,204,.4),
              inset -1.5px -1.5px 1.5px rgb(184,240,255,.4);
}

/**
 * -----------------------------------------------------------------------------
 * Beats Board: Settings Cell
 * -----------------------------------------------------------------------------
 */
.settings-cell {
  float: left;
  width: 210px;
  padding-top: 8px;
}
.settings-cell div div {
  display: inline-block;
}
.settings-cell div input,select {
  float: right;
  width: 125px;
}
div.bpm > input {
  width: 100px;
}
.settings-cell div select {
  margin: 5px 2px;
  background-color: #e6e6e6;
  height: 20px;
}
.volume-control {
  margin-top: 10px;
}
.volume-control > div {
  position: relative;
  top: -3px;
}
.controls div {
  display: inline-block;
}
.track-control > div {
  padding-top: 5px;
}
.bpm {
  position: relative;
  left: 5px;
  top: 10px;
}
.bpm div {
  position: relative;
  left: 22px;
}
.play-pause {
  padding: 15px;
  width: 58px;
  text-align: center;
  border-radius: 5px;
  background-color: #db7f91;
  box-shadow: inset 1.5px 1.5px 1.5px rgba(230, 230, 230, .4),
              inset -1.5px -1.5px 1.5px rgba(25, 25, 25, .4);
  transition: box-shadow 0.15s ease;
  cursor: pointer;
}
.play-pause.paused {
  background-color: #91db7f;
}
.play-pause:active {
  box-shadow: inset 1.5px 1.5px 1.5px rgba(25, 25, 25, .4),
              inset -1.5px -1.5px 1.5px rgba(230, 230, 230, .4);
}
.clear-beats {
  width: 58px;
  padding: 15px;
  border-radius: 5px;
  background-color: #e6e6e6;
  transition: box-shadow 0.15s ease;
  box-shadow: inset 1.5px 1.5px 1.5px rgba(230, 230, 230, .4),
              inset -1.5px -1.5px 1.5px rgba(25, 25, 25, .4);
  cursor: pointer;
}
.clear-beats:active {
  box-shadow: inset 1.5px 1.5px 1.5px rgba(25, 25, 25, .4),
              inset -1.5px -1.5px 1.5px rgba(230, 230, 230, .4);
}
