<div class="header">
  <div class="title">
    <img src="assets/addepar_a2.png"/>
    <div class="title-letters">
      DDEBEATS
    </div>
  </div>

  <div class="toolbar">
    <p class="toolbar-link">{{#link-to "beats"}}Sequencer{{/link-to}}</p>
    <p class="toolbar-link">{{#link-to "board"}}Sound Board{{/link-to}}</p>
  </div>
</div>

{{outlet}}
